/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/
html {
  font-size: 12px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background-image: url("../images/bgtile.png");
  background-repeat: repeat-x;
}

#download {
  display: flex;
  height: 14%;
  width: 75%;
  justify-content: flex-start;
  margin-top: 6%;
}

#appstore {
  background-image: url("../images/badge-iphone.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: auto;
  width: auto;
  color: rgba(255, 255, 255, 0);
  border: none;
}

#android {
  float: left;
  background-image: url("../images/badge-android.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 47%;
  height: 100%;
  color: rgba(255, 255, 255, 0);
  border: none;
}

#white-tile {
  display: flex;
  flex-direction: column;
  background-image: url("../images/frame.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 50%;
  height: 70%;
  word-wrap: break-word;
  align-items: baseline;
  padding: 2% 5%;
}

#content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  width: 80vw;
  height: 50vw;
  margin-top: 10vh;
}

footer {
  width: 80vw;
  height: 10vw;
  float: left;
  /* heeeeeeeeeeeeeeeere */
}

footer li {
  float: left;
}

#iphones {
  height: 100%;
  width: auto;
  margin: 1%;
}

#ig-logo-button {
  display: flex;
  margin-top: 3%;
  height: 17%;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

footer ul {
  list-style: none;
  width: 50%;
  height: 30%;
  margin: 0;
  padding: 0;
}

footer li {
  margin: 0 1%;
}

footer a {
  text-decoration: none;
  color: #1c5380;
}

aside {
  display: block;
  margin: 0 0 0 3%;
  color: rgba(0, 0, 0, 0.3);
  /* font-size: 0.6rem; */
  width: 20%;
  height: 30%;
  padding: 0;
}

h1 {
  color: #06365f;
  font-size: 1.5rem;
}

#ig-logo-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#ig-logo-button button {
  display: flex;
  background-image: linear-gradient(to top, #1c5481, rgba(28, 84, 129, 0.6));
  border: 1px solid #1c5380;
  border-radius: 3px;
  height: 40%;
  width: 15%;
  margin: 0.5%;
  color: white;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
}

#content b {
  margin: 0 5%;
}

#ig-logo-button button img {
  padding: 3%;
  height: 50%;
  width: 25%;
  margin: 1%;
}

#ig-logo-button > img {
  margin: 1%;
  height: 90%;
}

#white-tile > p {
  margin: 1.5%;
}
